.login {
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-background);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.login-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.login-main input {
    min-height: 40px;
    border-radius: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    border: 2px solid var(--color-none);
    background-color: var(--ui-colors-neutral3);
}

.login-main input:hover {
    background-color: var(--ui-colors-neutral4);
}

.login-main input:focus {
    outline: none;
    border: 2px solid var(--c-green);
}

.login-remember-tip {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-remember-tip label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text);
}

.login-remember-tip input {
    display: none;
}

.login-remember-tip label{
    color: var(--ui-colors-neutral9);
}

.login-remember-tip a {
    font-size: 16px;
    text-decoration: none;
    color: var(--ui-colors-neutral9);
}

.login-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.login-btn-clear,
.login-btn-submit {
    height: 40px;
    width: 50%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

.login-btn-clear {
    background-color: var(--ui-colors-info6);
    color: var(--ui-colors-info9);
}

.login-btn-clear:hover {
    background-color: var(--ui-colors-info7);
}

.login-btn-submit {
    background-color: var(--ui-colors-primary6);
    color: var(--ui-colors-primary9);
}

.login-btn-submit:disabled {
    cursor: not-allowed;
}

.login-btn-submit:hover {
    background-color: var(--ui-colors-primary7);
}

@media screen and (max-width: 640px) {
    .login {
        width: 90%;
    }
}
