.tasks-btn {
    display: flex;
    column-gap: 20px;
}

.tasks-btn button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

.tasks-btn .btn-refresh{
    background-color: var(--ui-colors-primary6);
    color: var(--ui-colors-primary9);
}

.tasks-btn button:disabled {
    cursor: not-allowed;
}

.tasks-btn .btn-refresh:hover {
    background-color: var(--ui-colors-primary7);
}

.tasks-btn .btn-add {
    background-color: var(--ui-colors-info6);
    color: var(--ui-colors-info9);
}

.tasks-btn .btn-add:hover {
    background-color: var(--ui-colors-info7);
}

.tasks-list {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    overflow: auto;
    flex-flow: wrap;
    padding: 10px;
}

.tasks-list .success {
    background-color: var(--ui-colors-success4);
}

.tasks-list .fail {
    background-color: var(--ui-colors-danger4);
}

@media screen and (max-width: 840px) {

}
