.task-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.task-info .task-text {
    font-size: 15px;
}

.task-info .time-record {
    display: flex;
    column-gap: 20px;
}

.task-info .time-record h6 {
    font-size: 5px;
    color: var(--ui-colors-neutral9);
}

.task-info .tasks-setting {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.task-info .tasks-setting button {
    font-size: 20px;
    background-color: var(--color-none);
    border: none;
    color: var(--ui-colors-neutral8);
    cursor: pointer;
    display: flex;
}

.task-info .tasks-setting button:disabled {
    cursor: not-allowed;
}

.task-info .tasks-setting .btn-log:hover {
    color: var(--ui-colors-warning8);
}

.task-info .tasks-setting .btn-work:hover {
    color: var(--ui-colors-success8);
}

.task-info.tasks-setting .btn-export:hover {
    color: var(--ui-colors-info8);
}

.task-info .tasks-setting .btn-delete:hover {
    color: var(--ui-colors-danger8);
}

.task-info .tasks-setting .work button {
    color: var(--ui-colors-success8)
}

.task-info .tasks-setting .stop .work-icon {
    display: none;
}

.task-info .tasks-setting .work .stop-icon{
    display: none;
}
